.profileCard{
    display: flex;
    border-radius: 1.5rem;
    gap:1rem;
    flex-direction: column;
    position: relative;
    overflow-x: clip;
    background-color:var(--cardColor);
    margin-top: 1rem;
}

.profileImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profileImage>img:nth-of-type(1){
    width:100%
}
.profileImage>img:nth-of-type(2){
    width:6rem;
    position: absolute;
    bottom: -3rem;
    border-radius: 50%;
    box-shadow: var(--profileShadow);
}

.profileName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
}
.followStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.75rem;

}

.followStatus >.hr{
    width:80%;
    background-color: var(--hrColor);
    height: 2px;
}

.followStatus > div{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

}

.follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.vl{
    width:2px;
    background-color: var(--hrColor);
    height: 65px;
}

.profileLink{
    text-align: center;
    font-weight: bold;
    color: orange;
    cursor: pointer;
    margin-bottom: 1rem;
    
}